<form [formGroup]="flightForm" class="center m-5">

    <h1 class="text-center">DCXAir</h1> <br>
    <div class="row">
        <div class="mb-3 col-md-6">
            <label for="origin" class="form-label">Origin</label>
            <input type="text" class="form-control" id="origin" aria-describedby="Origin" formControlName="origin"
                required>
        </div>

        <div class="mb-3 col-md-6">
            <label for="destination" class="form-label">Destination</label>
            <input type="text" class="form-control" id="destination" aria-describedby="Destination"
                formControlName="destination" required>
        </div>

        <div class="m-0 col-md-6 row center">
            <div class="form-check">
                <input type="radio" class="form-check-input" id="oneway" formControlName="tripType" value="oneway"
                    checked (change)="clear()">Oneway
                <label class="form-check-label" for="oneway"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="roundtrip" formControlName="tripType" value="roundtrip"
                    (change)="clear()">Round trip
                <label class="form-check-label" for="roundtrip"></label>
            </div>
        </div>


        <div class="mb-3 col-md-6">
            <label for="currency" class="form-label">Currency</label>
            <select class="form-select" aria-label="Default select example" formControlName="currency"
                (change)="clear()">
                <option selected>Select currency</option>
                <option value="USD">USD (Dólar americano)</option>
                <option value="COP">COP (Peso colombiano)</option>
                <option value="EUR">EUR (Euro)</option>
                <option value="GBP">GBP (Libra esterlina)</option>
                <option value="CHF">CHF (Franco suizo)</option>
            </select>
        </div>

    </div>
    <br><br>
    <div class="d-grid gap-2 col-4 mx-auto">
        <button type="button" class="btn btn-primary" (click)="search()" [disabled]="!flightForm.valid">Search</button>
        <button type="button" class="btn btn-info" (click)="getAll()">Get all</button>
        <button type="button" class="btn btn-light" (click)="clear()">Clear</button>
    </div>

    <div *ngIf="journeys.length > 0" class="center m-5">
        <div>
            <h2 class="text-capitalize"> {{ flightForm.get('tripType')?.value }} flights available:</h2>
        </div>

        <div *ngFor="let journey of journeys">
            <div class="card border-primary text-center m-5">
                <div class="card-body bg-info">
                    <h5 class="card-title fw-bold">{{ journey.origin }} -> {{ journey.destination }}</h5>
                </div>
                <div class="card-footer text-body-secondary">
                    Total Price: {{ formatPrice(journey.price) }} {{ flightForm.get('currency')?.value }}
                </div>
                <div *ngFor="let flight of journey.flights">
                    <div class="card">
                        <div class="card-body">
                            <p>Flight: <b>{{ flight.transport.flightCarrier }} {{ flight.transport.flightNumber }}</b>
                            </p><br>
                            <p><b>Origin: {{ flight.origin }} - {{ flight.originInfo.city }}
                                    ({{flight.originInfo.country }})</b><br>
                                AirportName: {{ flight.originInfo.airportName }}</p>
                            <br>
                            <p><b>Destination: {{ flight.destination }} - {{ flight.destinationInfo.city }}
                                    ({{flight.destinationInfo.country }})</b><br>
                                AirportName: {{ flight.destinationInfo.airportName }}</p>
                            <br>
                            Price: {{ formatPrice(flight.price) }} {{ flightForm.get('currency')?.value }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="errorMessage != ''" class="mt-3 text-center" style="color: red">
        <p>{{ errorMessage }}</p>
    </div>

</form>